.content-container {
    padding: 20px; /* Ajusta este valor según lo necesites */
  }
  
  mat-form-field {
    margin-bottom: 20px; /* Añade espacio entre el filtro y la tabla */
  }
  
  button {
    margin-bottom: 20px; /* Espacio entre el botón y la tabla */
  }